
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

:root{
    font-family: "Manrope", sans-serif;
    color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #020617;
}
@utility text-gradient {
  @apply bg-linear-to-r from-cyan-200 via-cyan-300 to-emerald-200 bg-clip-text text-transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

/* Custom Scrollbar for Project Showcase Modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #525252;
}
